.idea/*
dynamic-cli-env
dynamic.egg-info
src/search /__pycache__
__pycache__
src/arguments/__pycache__
.vscode/
src/dynamic_cli.egg-info/
dynamic_cli.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# User files related to API testing and authentication
access_token.json
response_data.json

# Selenium
geckodriver.log

#dist
dist/